<div class="titleReviewBar ">
  <div class="titleReviewBarItem">
    <a href="criticreviews?ref_=tt_ov_rt">
      <div class="metacriticScore score_favorable titleReviewBarSubItem">
        <span>95</span>
      </div>
    </a>
    <div class="titleReviewBarSubItem">
      <div>
        <a href="criticreviews?ref_=tt_ov_rt">
          Metascore
        </a>
      </div>
      <div>
        <span class="subText">
          From
          <a href="http://www.metacritic.com"
             target='_blank'>metacritic.com
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="divider">
  </div>
  <div class="titleReviewBarItem titleReviewbarItemBorder">
    <div>
      Reviews
    </div>
    <div>
      <span class="subText">
        <a href="reviews?ref_=tt_ov_rt">
          256 user
        </a>
        <span class="ghostText">|</span>
        <a href="externalreviews?ref_=tt_ov_rt">
          425 critic
        </a>
      </span>
    </div>
  </div>
  <div class="divider">
  </div>
  <div class="titleReviewBarItem">
    <div class="titleOverviewSprite popularityTrendUp">
    </div>
    <div class="titleReviewBarSubItem">
      <div>
        Popularity
      </div>
      <div>
        <span class="subText">
          1,411
          (
          <span class="titleOverviewSprite popularityImageUp">
          </span>
          <span class="popularityUpOrFlat">
            131
          </span>
          )
        </span>
      </div>
    </div>
  </div>
</div>
